<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P2P File Sharing</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>P2P File Sharing</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>

    <h2>Uploaded Files</h2>
    <ul id="file-list">
        <% files.forEach(file=> { %>
            <li>
                <span>
                    <%= file.originalname %> (<%= file.size %> bytes)
                </span>
                <button class="download-btn" data-filename="<%= file.filename %>" data-name="<%= file.originalname %>">
                    Download
                </button>
            </li>
            <% }); %>
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client.js"></script>
</body>

</html>